---
layout: default
title: Hi there
---
<html>
	<style>
		.TextWrap{
				float: right;
				margin: 10px;
				}
	</style>

<h1>Hi there, I'm James.</h1>

<img src="../assets/img/headshot-01.jpg" alt="Headshot01"
	title="My face" width="200" height="300" class="TextWrap" align="left"/>
I'm a PhD graduate from the <a href="https://medbio.utoronto.ca">Department of Medical Biophysics</a> at the University of Toronto. I studied cancer predisposition in Li-Fraumeni syndrome alongside a talented cross-disciplinary team at the <a href="https://www.sickkids.ca/en/staff/m/david-malkin/">Malkin lab</a> in the SickKids Research Institute.
<br>
<br>
As a trained cell biologist, I used CRISPR technology to understand how mutations in the <i>TP53</i> gene can initiate cancer development, and explored the effects of restoring normal p53 function in primary human cells and mouse cancer models.
<br>
<br>
Today, I am a scientific investment banking analyst at <a href="https://www.bloomburton.com/">Bloom Burton & Co.</a>, Canada's leading healthcare-specialized investment bank. On the science team, I learn about healthcare technologies through technical due diligence and market research, and help management teams move towards their next milestone.
<br>
<br>
Previously, I was a product manager at <a href="https://www.benchsci.com/">BenchSci</a>, an ML-powered reagent selection platform for R&D scientists, where I worked on improving the search experience.
</p></html>
