---
layout: default
title: Hi there
---
<html>
	<style>
		.TextWrap{
				float: right;
				margin: 10px;
				}
	</style>

<h1>Hi there, I'm James.</h1>

<img src="../assets/img/headshot-01.jpg" alt="Headshot01"
	title="My face" width="200" height="300" class="TextWrap" align="left"/>
I'm a PhD candidate at the University of Toronto in the <a href="https://medbio.utoronto.ca">Department of Medical Biophysics</a>. I study cancer predisposition in Li-Fraumeni syndrome alongside a talented cross-disciplinary team at the <a href="http://www.sickkids.ca/AboutSickKids/Directory/People/M/David-Malkin-staff-profile.html">Malkin lab</a> in the SickKids Research Institute.
<br>
<br>
As a trained cell biologist, I've been using CRISPR technology to understand how mutations in the <i>TP53</i> gene can initiate cancer development, and explore the effects of restoring normal p53 function in cell-based models.
<br>
<br>
Outside of the lab, I analyze data for <a href="https://www.benchsci.com/">BenchSci</a>'s machine learning platform, and help clients in biotechnology and pharmaceutical fields as a contract science consultant for <a href="https://www.bloomburton.com/">Bloom Burton & Co</a>.
</p></html>
